.swiper{
  %swiper-button{
    color: $light !important;
    font-weight: 500;

    &::after{
      font-size: 1rem;
      padding: .95rem 1.25rem;
      border-radius: .4rem;
      background-color: rgba($color: $primary, $alpha: .75);
    }
  }

  &-wrapper{
    padding: .75rem 0;
  }

  &-button-prev{
    @extend %swiper-button;
    left: 0;
  }

  &-button-next{
    @extend %swiper-button;
    right: 0;
  }

  &-slide{
    height: auto !important;
  }

  &--review{
    position: relative;
    height: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5rem 1.5rem 1.25rem;
    border-radius: .5rem;
    border-top: solid 5px $primary;
    background-color: var(--bg-color);
    @include box-shadow('0px', '5px', '15px', '0px', var(--box-shadow));

    &::before{
      content: '"';
      font-family: $font-family-quote;
      position: absolute;
      line-height: 1rem;
      font-size: 8.5rem;
      color: var(--txt-muted);
      opacity: .15;
      top: 1.95rem;
      left: 1.25rem;
      @include transform('rotate(180deg)');
    }

    &__resto{
      position: relative;
      padding: 0 0 .75rem;
      z-index: 1;

      & > a{
        display: inline-block;
        font-size: 1.25rem;
        color: var(--txt-title);
        font-weight: 500;
        text-decoration: underline;
        padding:1rem 0 .25rem;
      }
    }

    &__text{
      text-indent: 1rem;
    }

    &__profile{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: .75rem;
      padding: 1rem 0 .5rem;

      & > img{
        width: auto;
        height: 2.5rem;
      }

      & p{
        margin-bottom: 0;
      }
    }
    &-notification{
      opacity: 0 !important;
    }
  }
}