<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Any Foods Or Restaurants at Ganyem</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Chewy&family=Rubik:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <a id="skip-to-content" href="#main">Skip to Main Content</a>
    <header class="header">
        <app-navbar class="wrapper--wrap"></app-navbar>
    </header>

    <main>
        <app-banner class="banner banner--home">
            <h1>Find Any Foods or Retaurants at Ganyem</h1>
            <a href="" class="banner__button">Find Resto</a>
        </app-banner>
    </main>

    <footer>
        <app-footer></app-footer>
    </footer>
</body>
</html>
